{% if breadcrumbs %}
<nav class="breadcrumb-nav bg-light border-bottom">
    <div class="container-fluid px-4">
        <ol class="breadcrumb mb-0 py-2">
            {% for crumb in breadcrumbs %}
                {% if forloop.last %}
                    <li class="breadcrumb-item active" aria-current="page">
                        <i class="fas {{ crumb.icon }} me-1"></i>{{ crumb.title }}
                    </li>
                {% else %}
                    <li class="breadcrumb-item">
                        <a href="{{ crumb.url }}" class="breadcrumb-link">
                            <i class="fas {{ crumb.icon }} me-1"></i>{{ crumb.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</nav>
{% endif %} 